@model IEnumerable<PizzaStoreMvc.Client.DomainModels.OrderItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderItemID })
        </td>
    </tr>
}

</table>
