@model PizzaStoreMvc.Client.DomainModels.PizzaTopping

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PizzaTopping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pizza.PizzaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza.PizzaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topping.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topping.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PizzaToppingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
